html{
  font-family:sans-serif;
  font-size:16px;
}
header{
  background-color:#000080/*#4B3621*/ ;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: 3px;
  margin-bottom: 1rem;
  color:#F7E98E;
}
h1{
  font-size:2.4rem;
}
body{
  margin:auto;
  background-color: #ECF0F1/*color del body*/;
}
.contenedor{
  display: flex/*distribucion de la pagina*/;
  flex-flow: row wrap/*acomodar la pagina*/;
}
ul>li{
  background-color: #BA8759;
  list-style-type:none;/*quitar los simbolos*/
  display:inline;/*en una sola linea*/
  margin-left: -5px;/*un margen a la izquierda*/
  margin-bottom:-1rem;/*margen de boton */
  padding:.3rem;/*separando las listas*/
  font-size: 1.2rem;/**/
  border-right: 3px;/**/
  border-style: solid;/*estilo de borde solido*/
  /*border-color:black;de color negro*/
  border-top:none;/*no tenga ningun borde*/
  border-bottom:none;/**/
  border-left:none;/**/
}
#articulo{
  background-color:#4682B4 /*#8B4513 color de fondo de articulo*/ ;
  padding-left:3rem;/**/
  padding-top:1rem;
  padding-right:3rem;
  padding-bottom:1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /*margin-top:1rem;*/
  margin-bottom: 1rem;/*margen de separacion*/
  flex:1 1 40%;/*cuanto espacio puede recucirse en ancho alto y cuanto va a tener de anchura */
}
img{
  width:100%/*contenedor del 100%*/;
}
#textoarticulo{
  color: white;
  line-height: 1.5rem;/*interliniado*/
}
h2{
  color:#F7E98E;
  font-size:2rem;/*tamaño de la fuente*/
}
.formulario{
  background-color:#1E90FF /*#A0522D color de fondo*/;
  color: white;/*color de la lestras*/
  padding-left: 2rem;/*separacion del borde */
  padding-right: 2rem;/*separacion del borde*/
  margin-left: 1rem; /*margen separzado del body*/
  margin-right: 1rem;/*separacion del body*/
  margin-bottom: 1rem; /*separacion de tarjetas*/
  flex:1 1 20%;/*cuanto espacio puede recucirse en ancho alto y cuanto va a tener de anchura */
}
.tarjeta{
  background-color: white /*color de fondo*/;
  margin-left: 1rem;/*margen a la derecha*/
  box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.35);/*estableciendo sombra a las tarjetas*/
  padding-bottom: 1rem;/*separacion de tarjetas*/
  margin-bottom: 1rem;/*separacion de tarjetas*/
  flex:1 1 400px;/*cuanto espacio puede recucirse en ancho alto y cuanto va a tener de anchura */
}
.descripcion{
  margin-left: 1rem;/*separacion*/
}
h3{
  margin-left: 1rem;/*separacion*/
}
footer{
  background-color: #3498DB;/*color */
  margin-top: 1rem;/*margen pra separar de las tarjetas*/
}
#creditos{
  font-size: 1rem;/*tamaño de letra*/
  column-rule-color: white;/*color*/
  padding-top: 1rem;/*solido*/
  padding-left: 1rem;/**/
  padding-bottom: 1rem;/**/
}
#ctarjetas{
  display: flex;/**/
  flex-flow:row-reverse wrap;/**/
  margin-right: 1rem;/*margen a la derecha*/
}
#nombre, #password{
  width: 100%;
}
#enviar{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Aharoni";
  font-size: 20px;/*tamaño de letra*/
  width: 100%;
  padding: 15px;
  color: #00A19A;
}